.wrapper

  =render partial: 'shared/side_bar'

  .chat-main
    .main-header
      .main-header__group
        %p.main-header__group__name sample
        %p.main-header__group__member Members: seo neko
      .main-header__group-edit Edit
    .main-view
      .message-box
        .message-box__title
          %p.message-box__title__username test-user
          %p.message-box__title__time 2019/09/26(Thu) 11:00:00
        %p.message-box__message こんにちは！
      .message-box
        .message-box__title
          %p.message-box__title__username test-user
          %p.message-box__title__time 2019/09/26(Thu) 11:00:00
        %p.message-box__message こんにちは！
      .message-box
        .message-box__title
          %p.message-box__title__username test-user
          %p.message-box__title__time 2019/09/26(Thu) 11:00:00
        %p.message-box__message こんにちは！
      .message-box
        .message-box__title
          %p.message-box__title__username test-user
          %p.message-box__title__time 2019/09/26(Thu) 11:00:00
        %p.message-box__message こんにちは！
      .message-box
        .message-box__title
          %p.message-box__title__username test-user
          %p.message-box__title__time 2019/09/26(Thu) 11:00:00
        %p.message-box__message こんにちは！
      .message-box
        .message-box__title
          %p.message-box__title__username test-user
          %p.message-box__title__time 2019/09/26(Thu) 11:00:00
        %p.message-box__message こんにちは！
    .chat-main__form
      %form.create-message
        .input-box
          %input.input-box__text{type: "text", placeholder: "type a message"}
          %label
            %span.input-box__image
              = fa_icon 'image'
            %input#datafile{type: "file"}
        %input.submit-btn{type: "submit", value: "SEND"}